---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';

const { title, description, profileImage } = Astro.props;
const lang = Astro.currentLocale ?? 'ko';
---

<html lang={lang}>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 2em;
				text-align: center;
			}
            .title h1 {
                font-size: 2.5em;
                margin-bottom: 0.2em;
            }
            .resume-profile-img {
                border-radius: 50%;
                margin: 0 auto 1.5rem auto;
                display: block;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
                object-fit: cover;
            }
            hr {
                margin: 2em 0;
            }
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
                        {profileImage && <Image src={profileImage} alt={title} class="resume-profile-img" width={160} height={160} />}
						<h1>{title}</h1>
                        <p>{description}</p>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>